@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto+Condensed:wght@300;400&display=swap");
body {
  background-color: #140941;
  margin: 0;
  padding: 0;
  color: #958fa7;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
}

.main {
  padding: 20px;
  height: calc(100vh - 40px);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 35px;
}

.project-list {
  text-align: center;
}
.project-list .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.project-list .grid-container .card {
  width: 100%;
  background-color: #f6003f;
  overflow: hidden;
}
.project-list .grid-container .card a {
  color: #fff;
  text-decoration: none;
}
.project-list .grid-container .card img {
  width: 100%;
  height: 200px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-list .grid-container .card-content {
  padding: 20px;
}
.project-list .grid-container .card-content h2 {
  margin: 0;
}

.btn {
  padding: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid;
}
.btn-primary {
  background-color: #140941;
  border-color: #140941;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:visited {
  background-color: #f6003f;
  color: #fff;
  border-color: #f6003f;
}
.btn-secondary {
  background-color: #f6003f;
  border-color: #f6003f;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:visited {
  background-color: #140941;
  color: #fff;
  border-color: #140941;
}

.form {
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  max-width: 400px;
}
.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-control label {
  margin-bottom: 5px;
}
.form-control input {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #958fa7;
}
.form-control small {
  color: #f6003f;
  display: none;
}
.form-control.error input {
  border-color: #f6003f;
}
.form-control.error small {
  display: block;
}
.form-control.success input {
  border-color: #33d97b;
}

body {
  background-color: #140941;
  margin: 0;
  padding: 0;
  color: #958fa7;
  font-size: 14px;
  font-family: "Roboto Condensed";
}

.main {
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 10px;
}

h1 {
  font-size: 35px;
}

.project-list {
  text-align: center;
}
.project-list .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.project-list .grid-container .card {
  width: 100%;
  background-color: #f6003f;
  overflow: hidden;
}
.project-list .grid-container .card a {
  color: #fff;
  text-decoration: none;
  display: block;
  border: 1px solid #f6003f;
}
.project-list .grid-container .card img {
  width: 100%;
  height: 200px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-list .grid-container .card-content {
  padding: 20px;
}
.project-list .grid-container .card-content h2 {
  margin: 0;
  margin-bottom: 10px;
}

.btn {
  padding: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid;
}
.btn-primary {
  background-color: #140941;
  border-color: #140941;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:visited {
  background-color: #f6003f;
  color: #fff;
  border-color: #f6003f;
}
.btn-secondary {
  background-color: #f6003f;
  border-color: #f6003f;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:visited {
  background-color: #140941;
  color: #fff;
  border-color: #140941;
}

.form {
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  max-width: 400px;
}
.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-control label {
  margin-bottom: 5px;
}
.form-control input {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid;
}
.form-control small {
  color: #f6003f;
  display: none;
}
.form-control.error input {
  border-color: #f6003f;
}
.form-control.error small {
  display: block;
}
.form-control.success input {
  border-color: #33d97b;
}

.movie {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.movie-label {
  color: white;
  margin-bottom: 15px;
}
.movie-selection {
  padding: 10px;
  background: #140941;
  color: white;
}
.movie .seat {
  background: rgba(167, 164, 175, 0.5);
  width: 24px;
  height: 20px;
  border-radius: 10px 10px 0 0;
}
.movie .seat:nth-of-type(2) {
  margin-right: 18px;
}
.movie .seat:nth-last-of-type(2) {
  margin-left: 18px;
}
.movie .seat.occupied {
  background: #958fa7;
}
.movie .seat.selected {
  background: #33d97b;
}
.movie .seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.1);
}
.movie-showcase {
  display: flex;
}
.movie-showcase li {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.movie-showcase li small {
  margin-left: 4px;
}
.movie-screen {
  margin-bottom: 15px;
}
.movie-screen .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}
.movie-screen .seat {
  margin: 0 2px;
}/*# sourceMappingURL=style.css.map */